*{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.text h1{
    font-size: calc(4w + 2rem);
}
button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.note {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: inline-block;
    gap: 20px;
    margin-left: 40px;
    margin-right: 10px;
}
textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
form{
    margin: 20px;
}
#nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
  
#navbar {
    margin-right: 10px;
}
#nav-links li{
    margin-top: 10px;
    margin-left: -80px;
}
#nav-links li a {
    color: #000;
    text-decoration: none;
}

#nav-links li a:hover{
    transition: all ease-in-out .3s;
    color: #007bff;
}
#nav-links {
    display: none;
}
